﻿@model b151210109.Models.RegisterViewModel
@{
    ViewBag.Title = "Üye Ol";
}

<h2>@ViewBag.Title.</h2>

<div>
    @{
        string[] Bölgeler = new string[] { "Türkiye", "Brezilya", "AB İskandinav ve Doğu", "AB Batı", "Latin Amerika Kuzey", "Latin Amerika Güney", "Kuzey Amerika", "Okyanusya", "Rusya", "Japonya", "Kore",  "Açık Beta"};
        ViewBag.ddlBölgeler = new SelectList(Bölgeler);
    }
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Yeni bir hesap oluştur.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                <h6>Kullanıcı adın, oyuna giriş yapmak için kullanılır.</h6>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               <div class="dropdown">
                    <h3> Doğum Tarihi </h3>
   
                         @Html.DropDownList("ay", Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i) }), " Ay ")
                         @Html.DropDownList("gun", Enumerable.Range(1, 31).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), " Gün ")
                         @Html.DropDownList("yil", Enumerable.Range(1980, 40).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), " Yıl ")
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="dropdown"> 
                        <h3> Bölge :</h3>
                        @Html.DropDownList("ddlBölgeler") 
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.KulKosulu)
                    @Html.LabelFor(m => m.KulKosulu)
                </div>
            </div>
        </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.Abone)
                            @Html.LabelFor(m => m.Abone)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Ücretsiz Oyna" />
                    </div>
                </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

