﻿   @{
        ViewBag.Title = "Oyun Hakkında Bilinmesi Gerekenler";
    }

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/lol-nedir.jpg"></td>
        <td width="500" valign="top">
          
                <a href="@Url.Action("LoLNedir","Home")">
                    <h3 style=margin:15px;>
                        League of Legends nedir?
                    </h3>
                </a>

                <p style=margin:15px;>
                    Merhaba sihirdar, League of Legends'a hoş geldin.
                    Adalet Meydanlarına çıkmak için gereken tüm temel
                    bilgileri buradan alabilirsin.
                </p>
           
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/oyuncu-rehberi.jpg"></td>
        <td width="500" valign="top">
          
                    <h3 style=margin:15px;>
                        Yeni Oyuncu Rehberi
                    </h3> 

                <p style=margin:15px;>
                    Yeni oyuncu rehberi, League of Legends'ın oyun
                    kontrollerini ve temel oynanış biçimini anlatacak.
                    Ayrıca oyun içi eğitimlerde ve Adalet Meydanlarındaki
                    ilk çatışmalarında da seni yönlendirecek. Botlara
                    karşı mücadele etmekten gerçek rakiple ilk karşlaşmana
                    kadar, diğer sihirdarlarla baş edebilmen için gereken
                    tüm becerileri edineceksin.
                </p>
            
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/sihirdar-ol.jpg"></td>
        <td width="500" valign="top">
         
                <h3 style=margin:15px;>
                    Bir Sihirdar Ol
                </h3>

                <p style=margin:15px;>
                    Burada sihirdarının, Adalet Meydanlarındaki şampiyonunu
                    özelleştirmeye yarayan sihirdar büyüsü, rün, kabiliyet
                    gibi çeşitli yönleri hakkında daha çok bilgi alabilirsin.
                    Bu güçlü araçlar şampiyonunu tam istediğin hale getirmene
                    ve yeni taktikler geliştirmene yarayacaktır.
                </p>
          
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/oyuncularla-iletisim.jpg"></td>
        <td width="500" valign="top">
            
                <h3 style=margin:15px;>
                    Oyuncularla İletişim Kur
                </h3>

                <p style=margin:15px;>
                    PVP.net üstünden takım arkadaşı bulabilir, diğer sihirdarlarla
                    iletişim kurabilir, gerçek hayatta tanıdığın arkadaşlarını oyun
                    oynamaya davet edebilirsin.
            
                <p style=margin:15px;>Burada öğreneceğin şeyler:</p>

                <p style=margin:15px;>Arkadaş eklemek</p>
                <p style=margin:15px;>Arkadaşlarla oynamak</p>
                <p style=margin:15px;>Arkadaş önermek</p>
                <p style=margin:15px;>Sihirdar Kanunu</p>
                <p style=margin:15px;>Olumsuz davranışları rapor etmek</p>
             
            
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img width="450" height="253" style=margin:15px; src="~/images/sohbet-komutlari.jpg"></td>
        <td width="500" valign="top">
         
                <h3 style=margin:15px;>
                    Sohbet Komutları
                </h3>

                <p style=margin:15px;>
                    Burada, Adalet Meydanlarında oynarken ve oyun
                    dışındayken sihirdar arkadaşlarınla iletişimine
                    yardımcı olacak sohbet komutlarını öğreneceksin.
                </p>
         
        </td>
    </tr>
</table>

