﻿
@{
    ViewBag.Title = "Ahri";
}

<td width="300" valign="top">
    <figure>
        <img width="640"  height="360"  style=margin:15px; src="~/images/Ahri1.jpg">
        <figcaption style=margin:15px;>
          
                <h2>Dokuz Kuyruklu Tilki</h2>

                Güney Ionia Ormanları'nda dolaşan diğer tilkilerin aksine,
                Ahri etrafındaki büyülü dünyaya karşı tuhaf bir bağlantı
                hissediyordu; her nedense bir şeylerin eksik kaldığı bir
                bağlantı... İçten içe, dünyaya geldiği halinin kendisine
                uymadığını düşünüyor, bir gün insan olmanın hayalini kuruyordu.

            
        </figcaption>
    </figure>
</td>

<h1 style=margin:15px;>Yetenekler</h1>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/PA.png"></td>
        <td width="600" valign="top">
          
                <h3 style=margin:15px;>
                    Pasif: Öz Hırsızı
                </h3>

                <p style=margin:15px;>
                    Bir büyü rakibe her isabet ettiğinde bir Öz Hırsızı yükü verir
                    (büyü başına azami 3 yük). 9 yüke ulaştığında, bir sonraki büyüsü
                    rakibe isabet ettiğinde Ahri'nin iyileşmesini sağlar.
                </p>
            
        </td>
    </tr>
</table>

<table  border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/QA.png"></td>
        <td width="600" valign="top">
            
                <h3 style=margin:15px;>
                    Q: Aldatan Küre
                </h3>

                <p style=margin:15px;>
                    Ahri, küresini ileri fırlatıp geri çeker; küre giderken büyü
                    hasarı, dönerken de Gerçek hasar verir. Küresi hareket
                    halindeyken Ahri zamanla azalarak biten hareket hızı artışı kazanır.
                    Giderken 40/65/90/115/140 (+35% Yetenek Gücü) büyü hasarı,
                    dönüşte 40/65/90/115/140 (+35% Yetenek Gücü) gerçek hasar
                    verir.Küresi hareket halindeyken Ahri zamanla azalarak biten
                    hareket hızı artışı kazanır.
                </p>
   
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/WA.png"></td>
        <td width="600" valign="top">
           
                <h3 style=margin:15px;>
                    W: Tilki Ateşi
                </h3>

                <p style=margin:15px;>
                    Ahri'nin fırlattığı üç tilki ateşi, kısa bir süre sonra
                    yakındaki hedeflere kilitlenip saldırır.
                    Fırlatılan üç tilki ateşi. yakındaki rakiplere
                    (öncelikli olarak şampiyonlara) kilitlenerek, 40/65/90/115/140
                    (+40% Yetenek Gücü) büyü hasarı verirler.Birden fazla tilki
                    ateşiyle vurulan rakipler, her ilave tilki ateşinden %30 olmak
                    üzere tek bir rakip için azami 0 hasar alır.
                </p>
            
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/EA.png"></td>
        <td width="600" valign="top">
           
                <h3 style=margin:15px;>
                    E: Ayartan Öpücük
                </h3>

                <p style=margin:15px;>
                    Ahri'nin gönderdiği öpücük, isabet ettiği rakibe hasar verir
                    ve onu ayartarak uslu uslu Ahri'ye doğru gelmesini sağlar.
                    Rakibin 60/95/130/165/200 (+50% Yetenek Gücü) büyü hasarı
                    alarak ayartılmasına ve 1/1.25/1.5/1.75/2 saniye boyunca uslu
                    uslu Ahri'ye doğru yürümesine neden olan bir öpücük fırlatır.
                </p>
         
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/RA.png"></td>
        <td width="600" valign="top">
       
                <h3 style=margin:15px;>
                    R: Ruh Saldırısı
                </h3>

                <p style=margin:15px;>
                    Ahri ileri atılarak, yakındaki 3 rakibe (şampiyonlara öncelik verir)
                    hasar veren öz ışınları gönderir. Ruh Saldırısı, bekleme süresine
                    girmeden önce üç defaya kadar kullanılabilir.
                    Çevik bir hareketle fırlayarak attığı 3 öz ışınıyla yakınındaki
                    rakiplere (öncelikli olarak şampiyonlara) 70/110/150 (+30% Yetenek Gücü)
                    büyü hasarı verir. Bekleme süresine girmeden önce 10 saniye içinde üç
                    defaya kadar kullanılabilir.
                </p>
           
        </td>
    </tr>
</table>

<h1 style=margin:15px;>Oynanış</h1>

<td width="300" valign="top">
    <figure>
        <figcaption style=margin:15px;>
            
                <h2>KOMBOLAR</h2>
                <p>
                    Klasik kombomuz --> Ayartan Öpücük > Aldatan Küre > Tilki Ateşi > AA(otomatik saldırı) > Ruh Saldırısı > AA > Ruh Saldırısı > AA > Ruh SaldırısıRuh Saldırısı
                </p>
                <p>
                    NOT :
                    FLASH+ Ruh Saldırısı ile rakibinizi şaşırtabilirsiniz.Ayrıca kaçarken de oldukça yol kateder.
                </p>

                <h2>EARLY GAME</h2>
                Ahri'nin en zorlandığı safha erken oyundur.Ruh Saldırısı olmadan kaçma öldürme potansiyeliniz çok azdır.Mananız tek bir komboyla bile yarıdan aza iner hele ki tutturamazsanız boşa gider.Bu safhada kısaca sadece farma odaklanıp gerektiği yerlerde yeteneklerini kullanmanız gerekiyor.Tutturmanız kesin olmadıkça ya da ormancınız gank yapmadıkça Ayartan Öpücük 'ü boşa harcamamaya çalışın ve farma odaklanın.
            
        </figcaption>
    </figure>
</td>


    <h1 style=margin:15px;>Orta koridor</h1>
    <p style=margin:15px;>
        İşte asıl olayın başladığı ve Ahri 'nin gerçekten eğlenceli
        olmaya başladığı safhadır.2 türlü yol izleyebilirsiniz.Karşınızdaki
        rakibi alabiliyorsanız Ruh Saldırısı ile alın.Alamıyorsanız çok
        hızlı bir şekilde minyonları iteleyip diğer koridorlara gank
        gitmelisiniz.Ancak bunu yaparken rakibinizi unutmayın arkanıza
        daima bir totem koyun.Eğer sizi takip ederse Ayartan Öpücük ile şaşırtabilirsiniz.

    </p>

    <h1 style=margin:15px;>Takım savaşları</h1>

    <p style=margin:15px;>
        En dikkatli oynamanız gereken safhadır.Basit bie şekilde karşı
        tarafın hata yapması Ayartan Öpücük 'e yakalanması ölümle sonuçlanır.
        Ancak Ahri de çok kırılgan olduğu için yakalanırsanız kurtulmanız
        biraz zor olacaktır.Takım savaşlarında öncelikli göreviniz tüm
        takıma hasar vermek.Ancak takım savaşı başlamadan önce tek
        yakalayabilirseniz kırılgan şampiyonları aradan çıkartıp 5v4
        avantajını yakalayabilirsiniz.Ayrıca ultinizi bir anda harcamayın.
        Kendinizi uygun pozisyonlamak için kullanın özelliklede Aldatan Küreyi
        tüm takıma vurabilirseniz bir Orianna ultisi kadar etkili olacaktır
        ve sizi zafere götürecektir.
    </p>



        <h1>Hikâye</h1>
 
        <h2 style=margin:15px;>"Merhamet insana özgü bir lüks... ve sorumluluktur."</h2>

       
            <p style=margin:15px;>
                Güney Ionia Ormanları'nda dolaşan diğer tilkilerin aksine, Ahri
                etrafındaki büyülü dünyaya karşı tuhaf bir bağlantı hissediyordu;
                her nedense bir şeylerin eksik kaldığı bir bağlantı... İçten içe,
                dünyaya geldiği halinin kendisine uymadığını düşünüyor, bir gün
                insan olmanın hayalini kuruyordu. Bu dileğine ulaşması mümkün
                görünmüyordu; ta ki insanlar arasındaki bir savaşın sonuçlarını
                görene dek... Karşılaştığı manzara tüyler ürperticiydi; toprak,
                yaralı ve can çekişen askerlerle kaplıydı. İçlerinden birine
                doğru çekildiğini hissetti: Giderek zayıflayan bir sihir alanı
                ile çevrelenmiş, can vermek üzere olan, cübbeli bir adam. Ahri
                adama yaklaştı, içinde bir şeylerin harekete geçtiğini ve adama
                anlam veremediği bir şekilde ulaştığını hissetti. Adamın yaşam
                enerjisi, görünmez sihirli kanallardan geçerek Ahri'nin içine aktı.
                Bu, oldukça yoğun ve baş döndürücü bir histi. Sarhoşluğu geçtiğinde,
                değiştiğini fark etti. Çok sevindi. Şık beyaz kürkü dökülmüş, vücudu
                uzun ve kıvrak bir görünüm almıştı; etrafındaki insanlarınkine benzer bir görünüm...
            </p>


        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><img width="640" height="360" style=margin:15px; src="~/images/Ahri2.jpg"></td>
                <td width="600" valign="top">

                        <p style=margin:15px;>
                            Ancak, insan şekline bürünmesine rağmen,  geçirdiği dönüşümün
                            tamamlanmadığının farkındaydı. Kurnaz bir yaratık olan Ahri,
                            insanların adetlerine uyum sağladı ve muhteşem cazibesini, hiçbir
                            şeyden haberi olmayan erkekleri kendine çekmek için kullandı.
                            Baştan çıkarıcı güzelliğinin büyüsü altına girenlerin yaşam enerjisini
                            tüketiyordu. İnsanların ihtiraslarından beslenmek, Ahri'yi hayaline adım
                            adım yaklaştırıyordu; can aldıkça, içinde büyüyen garip bir pişmanlık
                            duygusuyla baş başa kaldı. Bir tilkiyken sonuçlarını hiç umursamadığı
                            hareketleri hakkında şimdi ikinci kez düşünüyordu. Gelişmekte olan
                            ahlak anlayışının sancılarıyla baş edemeyeceğini fark etti. Bir çözüm
                            arayışı içerisindeki Ahri, Runeterra'nın en yetenekli büyücülerine
                            ev sahipliği yapan Savaş Enstitüsü'nü buldu. Enstitüde League of Legends'a
                            (Efsaneler Ligi) hizmet ederek, insanlara daha fazla zarar vermeden
                            insanlığa ulaşmak için ona bir fırsat sunuldu.
                        </p>
                 
                </td>
            </tr>
        </table>


