﻿
@{
    ViewBag.Title = "Azir";
}

<td width="300" valign="top">
    <figure>
        <img width="640"  height="360"  style=margin:15px; src="~/images/azir3.jpg">
        <figcaption style=margin:15px;>
            
                <h2>Kumların İmparatoru</h2>

                Azir altın döşeli İmparatorluk Yolu’nda yürüdü. Shurima’nın ilk hükümdarları
                olan atalarının devasa heykelleri, onun ilerleyişini seyrediyordu.
                Şafak sökmeden hemen önceki yumuşak, loş ışık şehrini kapladı. Yukarıda
                hâlâ etrafı aydınlatan en parlak yıldızlar, doğan güneşle birlikte yakında
                kaybolacaktı. Gece göğü Azir’in hatırladığı gibi değildi; takımyıldızların
                konumları değişmişti. Binyıl geride kalmıştı.

           
        </figcaption>
     </figure>
</td>

<h1 style=margin:15px;>Yetenekler</h1>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/P_A.png"></td>
        <td width="600" valign="top">
            
                <h3 style=margin:15px;>
                    Pasif: Shurima'nın Mirası
                </h3>

                <p style=margin:15px;>
                    Azir yok edilen dost ya da rakip kulelerinin kalıntılarından Güneş Kursu oluşturabilir.
                </p>
           
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/Q_A.png"></td>
        <td width="600" valign="top">
            
                <h3 style=margin:15px;>
                    Q: Kumların Fatihi
                </h3>

                <p style=margin:15px;>
                    Azir, tüm Kumdan Askerlere belli bir konuma gitme emri verir.
                    Kumdan Askerler koşarlarken çarpıp içinden geçtikleri bütün hedeflere
                    büyü hasarı verir ve 1 saniyeliğine yavaşlatma etkisi uygular.
                    Azir tüm Kumdan Askerlere belli bir konuma gitme emri verir. Kumdan
                    Askerler koşarlarken çarpıp içinden geçtikleri rakiplere 65/85/105/125/145
                    (+50% Yetenek Gücü) büyü hasarı verir ve 1 saniyeliğine %25 yavaşlatma
                    etkisi uygular.Birden fazla Kumdan Asker'den darbe alan rakipler ek hasar almaz.
                </p>
           
        </td>
    </tr>
</table>

<table  border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/W_A.png"></td>
        <td width="600" valign="top">
           
                <h3 style=margin:15px;>
                    W: İleri!
                </h3>

                <p style=margin:15px;>
                    Azir'in çağırdığı Kumdan Asker, onun yerine yakındaki hedeflere saldırır.
                    Azir'in normal saldırıları yerine geçen bu saldırılar, Kumdan Asker'in
                    menzili dahilindeki hedeflere yapılabilir ve bir hat üzerindeki rakiplere
                    büyü hasarı verir. İleri! ayrıca pasif olarak Azir'e ve Kumdan Askerlere
                    saldırı hızı verir.
                <p>Pasif: %20/30/40/50/60 saldırı hızı verir.</p>
                <p>
                    Aktif: Azir 9 saniyeliğine bir Kumdan Asker çağırır. Azir bir rakibe saldırdığında;
                    rakip, askerin menzili içindeyse Azir yerine askeri saldırarak bir hat üzerindeki
                    rakiplere 0 (+60% Yetenek Gücü) büyü hasarı verir. Birden fazla askerin aynı hedefe
                    vurması durumunda, ilk vuran askerden sonrakiler %25 hasar verir. Kumdan Askerler,
                    Azir normal saldırı menzili dışındaysa bile saldırıyı gerçekleştirebilir.Azir, aynı
                    anda en fazla 3 Kumdan Asker çağırabilir. Her 0 saniyede yeni bir asker
                    hazır hale gelir. Azir fazla uzaklaşırsa askerleri devre dışı kalır. Kumdan Askerler
                    rakip kulelerinin yanında normalin iki katı hızla etkisiz hale gelir.Azir askerlerinden
                    birini harcayarak bir rakip kuleye hasar verebilir; bunun için, askeri hasar vermek
                    istediği kulenin tam üstüne çağırması gerekir. Bu şekilde çağrılan asker, kuleye 0
                    (+40% Yetenek Gücü) büyü hasarı verir.
                </p>
               
            
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/E_A.png"></td>
        <td width="600" valign="top">
            
                <h3 style=margin:15px;>
                    E: Kayan Kumlar
                </h3></a>

                <p style=margin:15px;>
                    Azir bir Kumdan Asker'e doğru atılarak çarptığı rakiplere hasar verir.
                    Azir bir rakip şampiyona çarparsa bir kalkana sahip olur.
                    Azir bir Kumdan Asker'e doğru atılarak çarptığı rakiplere 60/90/120/150/180
                    (+40% Yetenek Gücü) büyü hasarı verir. Azir bir rakip şampiyona çarparsa
                    durur ve 4 saniyeliğine 80/120/160/200/240 (+0) hasar emen bir kalkana sahip olur.
                </p>
            
        </td>
    </tr>
</table>

<table  border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/R_A.png"></td>
        <td width="600" valign="top">
            
                <h3 style=margin:15px;>
                    R: İmparatorluk Muhafızları
                </h3>

                <p style=margin:15px;>
                    Azir'in çağırdığı askerler, yan yana dizilerek ileriye doğru
                    atılır ve rakipleri geriye savurarak, onlara hasar verir.
                    Azir'in çağırdığı zırhlı askerler yan yana dizilerek ileriye
                    doğru hücum eder, rakipleri geriye savurur ve onlara 150/225/300
                    (+60% Yetenek Gücü) hasar verir. Askerler 5/6/7 saniye boyunca
                    bu duvar düzenini korur.İmparatorluk Muhafızları, rakipler atılarak
                    geçmeyi denediğinde bile onları durdurur ama Azir ve takım arkadaşları
                    istedikleri gibi geçebilirler, duvarın içinden geçen dost birimler
                    1 saniyeliğine %20 Hareket Hızı kazanır.İmparatorluk Muhafızları,
                    Azir'in normal saldırı ve büyüleri ile etkileşime girmez.
                </p>
           
        </td>
    </tr>
</table>

<h1 style=margin:15px;>Oynanış</h1>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100px" ; height="200px"><img style=margin:15px; src="~/images/azir.png"></td>
        <td width="300" valign="top">

                <p style=margin:15px;>
                    Azir, savaş alanını kontrol etmeleri ve kendisi yerine normal
                    saldırılar yapmaları için Shurimalı askerler gönderen bir büyücü.
                    Azir’in hasar potansiyelinin çoğunu askerlerin delici normal
                    saldırıları oluşturuyor ve bu da, Azir’i büyücüler arasında
                    ağırlıklı olarak sağ tıklamayla oynanan istisnalardan biri
                    haline getiriyor. Öte yandan Azir’in büyüleri, kendisinin ve
                    askerlerinin konumlarını etkileyerek kendisini korumasını, rakipleri
                    için de girmemeleri gereken tehlikeli bölgeler oluşturmasını sağlıyor.
                </p>
           
        </td>
    </tr>
</table>

    <h1 style=margin:15px;>Orta koridor</h1>
    <p style=margin:15px;>
        Azir askerlerini yerleştirerek değişken güç bölgeleri
        oluşturup bu şekilde koridorun kontrolünü eline alabilir
        ve onların yardımıyla minyon kesebilir. Örneğin rakibin
        büyücü minyonlarının yakınına bir asker yerleştirmek;
        rakibi, minyon kesmek ya da dürtmek için önce o askerin
        mızrağını yemeye zorlar. Karşı tarafın orta koridorcusu
        yanlış bir adım attığında, Azir saldırı emri verip bu
        fırsattan olabildiğince yararlanmak için Kumların Fatihi’yle
        askerlerin yerini değiştirebilir. Kapışma kendi lehine dönüp
        skor alma potansiyeli çıktığında Azir Kayan Kumlar’ı kullanarak
        rakibi havaya savurup Kumların Fatihi’yle işini bitirebilir.
        Durum aniden aleyhine döndüğünde de, hızlıca İleri! ve Kayan
        Kumlar kullanarak tehlikeden kurtulabilir.
        Bunların üstüne ultisi de eklenince, Shurima hükümdarının
        bölge kontrolündeki ağırlığı daha da artıyor. Skoru kapmak
        için İleri! ve Kayan Kumlar ile başlayıp, Azir’i rakibinin
        arkasında konumlandırın. Oradan İmparatorluk Askerleri,
        rakipleri haritanın Azir’in bulunduğu kısmına itebilir.
        Azir’in bölgesinin bu kadar içine giren rakip şampiyonun
        bir mızrağın ucunda can vermesi artık an meselesi. Eğer o
        sırada saldırmak akıllıca olmadıysa, Azir kendisini
        kovalayanlarla arasına duvar çekerek güvenle kaçabilir.
    </p>

    <h1 style=margin:15px;>Takım savaşları</h1>
    Azir hem koridorda, hem de takım çatışmalarında; doğru konumlanmaya
    bağlı olan ve askerlerine rahatça emir verip düşmanlarını uzaktan
    yenebileceği dövüşlerde öne çıkar. Bu minvalde Azir, rakibi ultisiyle
    Baron ve Ejderha yuvalarının dışında bırakarak ya da içine hapsederek
    bu çatışmalara ağırlığını koyar. Takım çatışmaları hareketlenirse,
    Azir İleri’yi ve Kumların Fatihi’ni dikkatli kullanmalı, çatışanlar
    hareket ettikçe kontrol bölgesinin yerini değiştirmelidir. Çatışma
    başladıktan sonra Azir, koordinasyonu tutturamayan rakipleri
    cezalandırmakta ustadır. Azir’in ultisiyle kombolanan Kayan Kumlar,
    rakibin ön saflarda duran şampiyonlarını, onların korumasına bel
    bağlayan hasar verici şampiyonlardan çöpsüz üzüm gibi ayırıp yenmeye
    hazır hale getirir. Rakip kendi içinde bölündüğünde, Azir adamlarını
    yollayıp neredeyse bir nişancı kadar ağır hasar vererek, kumların tek
    hakiminin kendisi olduğunu kanıtlar.
    <p style=margin:15px;>

    </p>

        <h1 style=margin:15px;>Hikâye</h1>
        <h2 style=margin:15px;>"Benim iradem, Shurima'nın iradesidir."</h2>

 
            <p style=margin:15px;>
                Azir’in ağır hüküm asasının her adımda çıkardığı ses, yalnızlığı
                anlatan bir melodinin tek notası gibi başkentin boş sokaklarında yankılanıyordu.
                Bu yolda son yürüdüğünde, arkasındaki on bin seçkin savaşçının
                uygun adım yürüyüşü ve halkın tezahüratı şehri inletmişti. Bu, onun
                en şanlı günü olacaktı, ancak bu şan ondan çalınmıştı.
                Şimdi ise bir hayalet şehre bakıyordu. Halkına ne olmuştu?
                Azir, imparatorlara yakışır bir hareketle yolun kenarındaki kumlara
                yükselmelerini ve canlı heykellere dönüşmelerini emretti. Bu, geçmişe
                dair bir görüntü, Shurima’nın anılarının vücut bulmasıydı adeta.
            </p>

        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="145" height="192" valign="top"><img style=margin:15px; src="~/images/azir1.jpg"></td>
                <td width="600" valign="top">

                        <p style=margin:15px;>
                            Kumdan heykeller ileri baktı; başları, yarım fersah ötedeki Yükseliş
                            Platformu’nun üzerinde asılı duran devasa Güneş Kursu’na dönmüştü.
                            Güneş Kursu, Azir’in imparatorluğunun şanını ve kuvvetini ilan edercesine
                            duruyordu; ama onu görecek kimse kalmamıştı. Azir’i uyandıran ve onun
                            soyundan gelen Shurima’nın kızı gitmişti. Kızın çölde bir yerlerde olduğunu hissetti.
                            Birbirlerine kan bağıyla bağlanmışlardı.
                            Azir İmparatorluk Yolu’nda ilerlerken, halkının kumdan hatıraları Güneş
                            Kursu’nu işaret etti; yüzlerindeki neşeli ifadenin yerini korku almıştı.
                            Ağızları sessiz bir çığlıkla açıldı. Dönüp kaçmaya, tökezleyip düşmeye başladılar.
                            Azir hepsini ümitsiz bir sessizlik içinde izledi, halkının son anlarına çaresizce
                            bir kez daha tanık oldu.
                            Görünmeyen bir enerji dalgasıyla yok oldular, toza dönüştüler ve rüzgâra
                            kapılıp savruldular. Yükseliş töreninde ters giden ve tüm bu felakete yol
                            açan şey neydi?
                        </p>
                    
                </td>
            </tr>
        </table>


            <p style=margin:15px;>
                Azir dikkatini topladı. Daha kararlı adımlar atmaya başladı. Yükseliş
                Merdiveni’ne ulaştı ve basamakları beşer beşer çıkmaya başladı.
                Sadece en güvendiği askerleri, ruhban sınıfı üyeleri ve kraliyet soyundan
                gelenler merdivene ayak basabilirdi. Bu ayrıcalığa sahip kişilerin kumdan
                suretleri yolun iki yanına dizilmişti. Rüzgârda savrulmadan önce, yüzlerinde
                acı ve sessiz bir yakarışla yukarı baktılar.
                Koşmaya başladı; basamakları hızla çıkarken pençeleri taş zemine saplanıyor,
                çentikler açıyordu. Kumdan figürler, o koşarken iki yanında yükselip, ardından
                tekrar dağılıyorlardı.
                Basamakların tepesine ulaştı. Burada, son seyircileri gördü: en yakın
                yardımcıları, akıl hocaları, yüksek rahipler. Ailesi.
            </p>

               <img style=margin:15px; src="~/images/azir2.jpg">

                  <p style=margin:15px;>
                      Dizlerinin üzerine çöktü. Tüm detaylarıyla mükemmel bir şekilde kumdan
                      vücut bulmuş ailesi, içini acıtırcasına tam karşısındaydı. Karnında
                      bebeğiyle karısı; hemen yanında annesinin elini tutmuş, utangaç kızı.
                      Dimdik ayakta duran, yakında çocukluktan erkekliğe geçecek olan oğlu.
                      Azir, dehşet içinde suratlarının değiştiğini gördü. Olacakları bilse de,
                      bakışlarını kaçıramadı. Kızı, yüzünü annesinin elbisesinin eteğine gömerken;
                      oğlu, meydan okuyan bir haykırışla kılıcına uzandı. Karısınınsa gözleri,
                      hissettiği çaresizlik ve üzüntü ile irileşmişti.
                      Görünmez felaket, onları yok oluşa sürükledi.
                      Buna katlanmak çok güçtü, ama Azir’in gözleri ıslanmadı. Yükseliş’e ermiş
                      hali, etraftaki hüzünlü tabloyu sonsuza dek dağıttı. Kalbi buruk, kendini
                      ayağa kalkmaya zorladı. Soyu hayatta kalmıştı, emindi bundan. Ama nasıl?
                  </p>

            <p style=margin:15px;>
                Onu bekleyen son bir hatıra daha vardı.
                İlerledi, Platform’a bir basamak kala durdu ve kumların tekrar canlandırdığı
                o sahneyi yeniden izledi.
                Kolları iki yana doğru açılmış, beli arkaya savrulmuş ölümlü bedeninin, Güneş
                Kursu’nun altında havaya yükselişini gördü. Bu anı hatırlıyordu. Güç, vücudunun
                içinden akarak geçmiş, benliğini kuşatarak onu ilahi kuvveti ile doldurmuştu.
                Kumlar, yeni bir şekle büründü. Güvenilir kölesi, büyücüsü Xerath’tı bu.
                Dostunun dudaklarından, sessiz bir kelime döküldü. Azir, tıpkı camdanmış gibi
                paramparça oluşunu, bedeninin kum zerreleri halinde etrafa saçılışını seyretti.
                “Xerath” dedi Azir, fısıltıyla.
            </p>

            <p style=margin:15px;>
                Hainin suratında anlaşılamaz bir ifade vardı; ama Azir’in görebildiği
                tek şey, bir katilin yüzüydü.
                Bu nefrete ne sebep olmuştu? Azir bunu daha önce hiç fark etmemişti.
                Xerath’ın kumdan sureti, Güneş Kursu’nun ona odaklanan enerjisi ile
                havada yükselmeye başladı. Yüksek muhafızlardan oluşan bir grup ona
                doğru atılsa da, çok geç kalmışlardı.
                Acımasız bir kum dalgası etrafı sarıp sarmaladı ve Shurima’nın son
                anlarını dağıtarak etrafa savurdu. Azir, geçmişinin giderek soluklaşan
                hatırasının ortasında, tek başına durdu.
                Halkını öldüren buydu demek.
            </p>

            <p style=margin:15px;>
                Arkasını döndü, tepesindeki Güneş Kursu’nun üzerine, yeni söken
                şafağın ilk ışıkları vuruyordu. Göreceğini görmüştü. Dönüşmüş Xerath’ın
                kumdan bedeni, ardında dağılıp yok oldu.
                Doğan güneş, Azir’in kusursuz, altın zırhı üzerinde etrafı kör eden bir
                ışıltıyla parladı. O anda, hainin hâlâ hayatta olduğunu anladı. Büyücü’nün
                özünü, etrafındaki havada hissedebiliyordu.
                Elinin tek hareketiyle, Yükseliş Merdiveni’nin başladığı yerde seçkin
                savaşçılarından oluşan kumdan bir ordu yükseldi.
                “Xerath” dedi, öfke dolu bir sesle. “İşlediğin suçlar, cezasız kalmayacak.”
            </p>
  

