﻿
@{
    ViewBag.Title = "Camille";
}


<div class="section-wrapper section-wrapper-primary">
    <div class="section-wrapper-top"></div>
    <div class="section-wrapper-content">
        <div class="section-wrapper-content-wrapper">
            <div class="panelizer-view-mode node node-full node-article node-69287">
                <div class="gs-container">
                    <div class="default-2-3">
                        <div class="content-border">
                            <div class="content-border-content">
                                <div class="accent-after">
                                    <div class="accent-before">
                                        <div class="field field-name-field-article-media field-type-file field-label-hidden">
                                            <div id="file-32433" class="file file-image file-image-jpeg">
                                              <img typeof="foaf:Image" src="~/images/cam.jpg" width="640" height="360" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><h1 class="article-title">İçeriden Şampiyon Bilgileri: Camille</h1><div class="field field-name-custom-author field-type-entityreference field-label-hidden"><span class="article_detail"><span class="posted_by">Yazan Cactopus</span></span></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="insights-body">
                               
                                    <p class="intro-text">
                                        Bazen yeni bir şampiyon oluşturmak için kolları sıvadığımızda işe belirli bir rol belirleyerek başlarız; mesela ormancı bir destek gibi. Bazense "toprak büyücüsü" gibi bir temadan yola çıkarız.
                                    </p>
                                    <p class="intro-text">
                                        Camille ise daha farklı bir planın ürünü olarak ortaya çıktı: "Oynarken kontrolün sizde olduğunu hissedeceğiniz, muhteşem bir şampiyon oluşturmak."
                                    </p>
                                    <p class="intro-text">
                                        <em>Tabii ki</em> hiçbir şey bacaklarının yerinde kocaman bıçaklar olan bir hanımefendiden daha muhteşem değildir. Konsept görseli aşamasından beri Camille epey havalıydı. Ancak onu gerçek bir karaktere dönüştürebilmek için kendimize şu soruyu sormamız gerekti: Ne tür bir insan bacaklarını iki parçalık bir hextech bıçak setiyle değiştirmek ister?
                                    </p>
                                
                                <br /><header class="header-primary">
                                    <h2 class="insights-header">
                                        BIÇAK SIRTINDA
                                    </h2>
                                </header><br /><img src="~/images/cam1.jpg" /><p>
                                    Camille hakkında bilmeniz gereken en önemli şey sizden daha iyi olduğu. Sizden daha zeki, daha zengin ve çok daha ölümcül. Oyunda, tekmeleriyle sizi lime lime ederken bir yandan da bu gerçekleri size hatırlatıyor olacak.
                                </p>
                                <p></p>
                               
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><img width="276" height="694" valign="top" style=margin:15px; src="~/images/cam2.jpg" /></td>
                                        <td width="350" valign="top">

                                            <p style=margin:15px;>
                                                Camille, kültürel bir rönesansın meyvelerini toplayan şehir Piltover'dan. Şehir her geçen gün biraz daha gelişirken, onu yöneten zengin aileler de bu durumun devamlılığını arzuluyor. Bu yüzden de Camille gibi "sorun çözücülere"; mevcut düzeni korumak için çalışan karanlık ajanlara ihtiyaç duyuyorlar. Bu düzenin korunması için gerekli olan en önemli noktalardan biri de komşuları  olan Zaun şehrinin yükselişe geçmemesi; aksi hâlde Piltover'daki güç odakları için büyük bir tehdit oluşturabilir.
                                            </p>
                                            <p>
                                                Camille, kültürel bir rönesansın meyvelerini toplayan şehir Piltover'dan. Şehir her geçen gün biraz daha gelişirken, onu yöneten zengin aileler de bu durumun devamlılığını arzuluyor. Bu yüzden de Camille gibi "sorun çözücülere"; mevcut düzeni korumak için çalışan karanlık ajanlara ihtiyaç duyuyorlar. Bu düzenin korunması için gerekli olan en önemli noktalardan biri de komşuları  olan Zaun şehrinin yükselişe geçmemesi; aksi hâlde Piltover'daki güç odakları için büyük bir tehdit oluşturabilir.
                                            </p>
                                            <p>
                                                Ariel "Thermal Kitten" Lawrence, Piltover'da çok fazla para olduğunu ve ortada bu kadar çok para olunca sınıflar arasında çok büyük ayrımlar oluşabildiğini söylüyor. Zaun'un bilim insanları kural ve düzenlemeler açısından daha özgür olsa da, bu iç içe geçmiş iki şehirdeki maddi zenginliğin büyük bir kısmı Piltover'da bulunuyor. Camille ise bu iki dünyanın tam ortasında duruyor ve eğer dengeyi koruyamazsa bunun muazzam sonuçları olabilir. Piltover yıkılarak kaosun hüküm sürdüğü bir yer hâline gelebilir.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                               
                                <p>
                                    Bu yüzden Camille'in işini iyi bir şekilde yapabilmek için epey uç noktalarda yaşaması gerekiyor. Vücudunun bazı kısımlarını hextech silahlarla değiştirmenin ona rakiplerine karşı bir avantaj sağlayacağını anlar anlamaz bu işe girişti. Vücut eklentileri, Zaun ve Piltover'da yaşayan insanlar için garip görülmese de bu şehirlerde yaşayan pek çok kişi Camille'in geliştirmelerini fazlasıyla korkunç buluyor.
                                </p>
                                <p>
                                    Hiç kuşkusuz, Camille'in de bu "bacaklarını bıçaklar ile değiştirme" işi hakkında bazı çekinceleri olmuştu. Thermal Kitten, "Bunu hiç kimseye itiraf etmese de zihninin derinliklerinde hep şu soru var: Çok mu ileri gitti? İnsanlığını kaybetmeden ne kadar daha geliştirmeye sahip olabilirdi?" diyor.
                                </p>
                                <div class="content-border">
                                    <img src="~/images/cam3.jpg" />
                                </div>
                                <p>
                                    En büyük korkusu, kendi bedenini araçlar ile değiştirdiği için başkalarının da onu sadece bir araç olarak görmesi. Camille makine ve insan arasındaki ince çizgide yaşayan bir kadın. Ancak onun düşüncesine göre, kontrolü kaybetmediği sürece bunun hiçbir önemi yok.
                                </p>
                                <br /><header class="header-primary">
                                    <h2 class="insights-header">
                                        KONTROL
                                    </h2>
                                </header><p>
                                    Camille ile oynamak tamamen kontrolde olmak ve savaşlarını iyi seçmekten geçiyor. Dövüşmek istediğine karar verdiğinde bunu başarmak onun için çok kolay; Kanca Atışı yeteneğini kullanarak düşmanlarını teke tek bir dövüşün içerisine çekebiliyor. Şampiyon tasarımcısı Jeevun "Riot Jag" Sidhu, "O kadar kendinden emin ki sizinle bir oyuncak gibi oynayabiliyor," diyor. "Q özelliğinin amacı da aşağı yukarı bu. Göstere göstere 'iki saniye sonra sana vuracağım' deyip ardından tam olarak da bunu yapıyor."
                                </p>
                                <img src="~/images/cam4.jpg" />
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><img width="276" height="694" valign="top" style=margin:15px; src="~/images/cam5.jpg" /></td>
                                        <td width="350" valign="top">

                                            <p>
                                                Camille'in Kanca Atışı, yetenek setine kesin olarak eklediğimiz ilk yetenek oldu; ancak o bile birkaç garip değişiklikten geçti. Camille bir ara tam bir İngiliz örümcek kadındı; art arda beş kanca atabiliyor ve duvarların etrafında dönebiliyordu. Her ne kadar bu mekanik çok eğlenceli olsa da, çoğu savaş durumunda kullanışsız (ve öğrenmesi gerçekten çok zor) olduğunu fark ettik.
                                            </p>
                                            <p>
                                                Camille'in yetenek seti belirli zamanlarda kullanılması gereken bazı önemli yenileme süreleri üzerine kurulu ve oyuncuların bunlara alışmak için muhtemelen birkaç oyun oynamaları gerekecek. Ancak antrenman yapmaya vakit ayıranlar bunun ödüllerini alacak.
                                            </p>
                                            <p>
                                                "Doğru bir şekilde yapılan kombolar neredeyse bir dansı andırıyor," diyor Riot Jag. "Q yeteneğiyle size saldırıyor, geri çekiliyor, W'su ile geniş açılı bir vuruş yapıyor ve ikinci bir Q için tekrar üzerinize atılıyor."
                                            </p>
                                            <p>
                                                Ayrıca, üzerinde daha da fazla çalışma gerektiren birkaç kombosu daha bulunuyor. Mesela, Kanca Atışı / Duvar Hücumu kombonuz sırasında W'sunu hazırlayarak düşmanın üzerine çöker çökmez hasar vermesini sağlayabiliyorsunuz. "Bu, test takımı ne zaman doğru bir şekilde yapsa bana videosunu yolladığı gösterişli bir hareket," diyor Riot Jag.
                                            </p>
                                            <p>
                                                Ancak Camille'in en başarılı olduğu konu etrafı temizlemek. Eğer Camille'in takımına karşı bir savaşı kaybediyorsanız, aynı o çok fazla devamı çekilen casus filmlerindeki gibi sizi bir bir avlayacaktır. Sizi buluyor ve sizi... <em>Bilirsiniz işte</em>.
                                            </p>
                                        </td>
                                    </tr>
                                </table> 
                                  
                                <div class="inline-right">
                                    <div class="box-2"></div>
                                </div>
                                <p>
                                
                                <br /><header class="header-primary">
                                    <h2 class="insights-header">
                                        HEXTECH MOTORLU
                                    </h2>
                                </header><p></p>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><img width="276" height="694" valign="top" style=margin:15px; src="~/images/cam6.jpg" /></td>
                                        <td width="350" valign="top">

                                            <p style=margin:15px;>
                                                Camille'in ilk konsept tasarımlarının büyük bir kısmı diğer film ve bilgisayar oyunlarındaki "cyborg suikastçı" fikirlerinden esinlenilerek hazırlandı. Konsept tasarımcısı Hing "Hdot" Chui, onun James Bond tipi bir ajan ama aynı zamanda zarif bir hanımefendi olduğunu söylüyor.
                                            </p>
                                            <p>
                                                Kişiliğinin bazı yönlerini yansıtabilmek için Camille'e birkaç farklı lakap taktık: Gri Hanım, Piltover'ın Sol Kolu veya sadece Akıncı gibi. Ancak hiç şüphesiz bu lakaplar arasında en iyi olanı "Cyborg MI6 Mary Poppins'ti". Hdot gülümseyerek ilk tasarımlarda Camille'in tek camlı bir gözlüğe, melon şapkaya ve bir "hextech şemsiyeye" sahip olduğunu söylüyor.
                                            </p>
                                            <p>
                                                Camille'in görsel tasarımı sırasında yakalanmaya çalışılan en zor his ise, bacaklarını besleyen hextech kalbinin yaşlanma sürecini tamamen durdurmak yerine sadece yavaşlatmış olmasıydı. Vücudu bunu pek belli etmese de yaşı aslında seksen civarlarında. Ölümsüz değil ama gösterdiğinden çok daha yaşlı.
                                            </p>
                                            <p>
                                                Ancak Camille'in iyi görüntüsünün sırrı cilt bakımı alışkanlıklarında değil, göğsünün ortasındaki hextech kalpte yatıyor. Bacaklarındaki bıçakları hareket ettirmek için güçlü kalçalardan fazlası gerekiyor ve bu da Camille'in vazifesine olan bağlılığının vücudunun tüm bölümlerini etkilediği anlamına geliyor. Gözlerindeki parıltı, gücünün insanüstü kaynağını gözler önüne seriyor.
                                            </p>
                                        </td>
                                    </tr>
                                </table>           
                                <br /><br /><br /><br /><hr class="divider" /><p class="content-center">
                                    Düşmanlarını biçmek için sabırsızlanan Camille, çok yakında aramızda olacak.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
