﻿@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kurtuluş Mahallesi<br />
    Hükümet Caddesi No:146 Kat:2<br />
    <abbr title="Phone">Tel:</abbr>
    0554 614 08 26
</address>

<address>
    <strong>Destek:</strong> cemalkuzu45@gmail.com <br />
</address>