﻿
@{
    ViewBag.Title = "Haber";
}

<h1>En Yeni Haberler</h1>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/haftalik-indirim_1.jpg"></td>
        <td width="600" valign="top">
           
                <a href="@Url.Action("İndirim","Home")">
                    <h3 style=margin:15px;>
                        Şampiyon ve kostüm indirimi: 25.11 - 28.11
                    </h3>
                </a>

                <p style=margin:15px;>
                    Bu şampiyonlar ve kostümler, sınırlı bir süre için %50 indirimli:
                </p>
            
        </td>
    </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/oyun_modları.jpg"></td>
        <td width="600" valign="top">
           
                <a href="@Url.Action("OyunModu","Home")">
                    <h3 style=margin:15px;>
                        Dönüşümlü Oyun Modu Sırası devrede!
                    </h3>
                </a>
                <p style=margin:15px;>
                    Kumların gözlerimize dolduğu Yükseliş meydanından tutun da Ultra Rekabet
                    Faktörü'ne kadar sınırlı oyun modları, klasik LoL formülüne yepyeni tatlar
                    katmamızı mümkün kılıyor. Eğlence sıradaki oyun moduyla devam ediyor:
                    Yükseliş devrede!
                </p>
          
        </td>
    </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/kasım_paketi.jpg"></td>
        <td width="600" valign="top">
           
                <a href="@Url.Action("Paket","Home")">
                    <h3 style=margin:15px;>
                        Kasım paketleri zamanı
                    </h3>
                </a>

                <p style=margin:15px;>
                    Kasım paketleri, kelepir fırsatlarla birlikte geliyor.
                </p>
           
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/4_3.jpg" /></td>
        <td width="600" valign="top">
           
                <a href="@Url.Action("Rotasyon","Home")">
                    <h3 style=margin:15px;>
                        Haftalık Kostüm Rotasyonu LoL Cafe'lerde!
                    </h3>
                </a>

                <p style=margin:15px;>
                    İşte bu haftanın LoL Cafe Haftalık Kostüm Rotasyonu:
                </p>
           
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/camille.jpg" /></td>
        <td width="600" valign="top">
            
                <a href="@Url.Action("camille","Home")">
                    <h3 style=margin:15px;>
                        Karşınızda Çelik Gölge, Camille
                    </h3>
                </a>

                <p style=margin:15px;>
                    Camille, Piltover'daki yerleşmiş güç dengesini muhafaza
                    etmek için çalışan seçkin bir ajan. Çelik Gölge olarak
                    da anılan bu kadının görevine olan bağlılığı onu hextech'le
                    güçlendirilmiş bir ölüm makinesine dönüştürdü. Camille
                    hedefinin peşine düştüğünde serinkanlı, amansız ve korkunç
                    biçimde titizdir.
                </p>
            
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/Poro.jpg" /> </td>
        <td width="600" valign="top">
          
                <a href="@Url.Action("Poro","Home")">
                    <h3 style=margin:15px;>
                        İblis Poroların Saldırısı
                    </h3>
                </a>

                <p style=margin:15px;>
                    Loş bir hanın kuytu bir köşesinde, 20 yüzlü bir zar, ahşap bir masanın üstünde süzülmektedir...
                </p>
         
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/shurima.jpg"></td>
        <td width="600" valign="top">
            
                <h3 style=margin:15px;>
                    Shurima’nın Kayıp Hazineleri
                </h3>

                <p style=margin:15px;>
                    Sivir’in paralı asker olarak yaptıkları dillere destan.
                    Hazine avcılığında da üstüne yok. Ancak antik dönemin
                    tozlu sayfalarından bir efsane can bulunca, Sivir’in
                    hayatı altüst oluyor. Öte yanda, ırkının tek umudu olan
                    Skarner, soydaşları Tözkabuklardan çalınan yaşam taşlarını
                    bulmak zorunda. Lanetli çocuk Amumu da tek başına çöllerde
                    dolanıyor. Tek dileği, bir arkadaş sahibi olmak.
                </p>
           
        </td>
    </tr>
</table>



