﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="container padTop20 ">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>


            <!-- Wrapper for slides -->
            <div class="carousel-inner carro" role="listbox">
                <div class="item active tem">
                    <img src="~/images/sihirdar-vadisi.jpg" width="1200" height="900" alt="harita 1" />
                    <div class="carousel-caption">
                        Sihirdar Vadisi
                    </div>
                </div>
                <div class="item tem">
                    <img src="~/images/ARAM.jpg" width="1200" height="900" alt="harita 2" />
                    <div class="carousel-caption">
                        Aram Haritası
                    </div>
                </div>

                <div class="item tem">
                    <img src="~/images/harita.jpg" width="1200" height="900" alt="harita 3" />
                    <div class="carousel-caption">
                        LoL Haritası
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

        <div class="row">
            <div class="col-md-4">
                <img width="300";  height="150"  style=margin:15px; src="~/images/yasuo.jpg">
                <a href="@Url.Action("Yasuo","Home")">
                    <h2>Yasuo</h2>
                </a>
                <p>
                    Yasuo rüzgardan aldığı güçle, eşsiz kılıç sanatını yeni zirvelere ulaştırmaya geliyor.
                    Bir Ionia savaş okulunun, efsanevi rüzgar tekniğini öğrenebilen tek ve en eski öğrencisi
                    olan Yasuo; korumak için yemin ettiği Ionia büyüğünün asıl katilini bulabilmek için
                    Runeterra’yı karış karış dolaşarak fırtınalı bir yaşam sürüyor...
                </p>
            </div>
            <div class="col-md-4">
                <img width="300"; height="150" style=margin:15px; src="~/images/Ahri.jpg">
                <a href="@Url.Action("Ahri","Home")">
                    <h2>Ahri</h2>
                </a>
                <p>
                    Güney Ionia Ormanları'nda dolaşan diğer tilkilerin aksine,
                    Ahri etrafındaki büyülü dünyaya karşı tuhaf bir bağlantı
                    hissediyordu;her nedense bir şeylerin eksik kaldığı bir bağlantı...
                    İçten içe, dünyaya geldiği halinin kendisine uymadığını düşünüyor,
                    bir gün insan olmanın hayalini kuruyordu. Bu dileğine ulaşması mümkün
                    görünmüyordu; ta ki insanlar arasındaki bir savaşın sonuçlarını görene
                    dek...
                </p>
            </div>
            <div class="col-md-4">
                <img width="300"; height="150" style=margin:15px; src="~/images/Azir.jpg">
                <a href="@Url.Action("Azir","Home")">
                    <h2>Azir</h2>
                </a>
                <p>
                    Bin yıl önce, görkemli Shurima imparatorluğu çölde
                    ikinci bir güneş gibi parlardı. Bu ülkenin imparatoru
                    olan Azir genç fakat hırslıydı, bu yüzden de aklını
                    çelmek kolaydı. Azir'in baş büyücüsü Xerath, genç
                    imparatorun kulağına, arzuladığı güce kadim Yükseliş
                    ritüeliyle ulaşabileceğini fısıldadı. Fakat sonra
                    Yükseliş'in gücünü çalıp kendisine mâl etti. Bu sırada
                    da ülkenin görkemli başkentini yıkıp Azir'i dünya
                    yüzünden sildi...
                </p>
            </div>
        </div>

        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/haftalik-indirim_1.jpg"></td>
                <td width="600" valign="top">
                    
                        <a href="@Url.Action("İndirim","Home")">
                            <h3 style=margin:15px;>
                                 Şampiyon ve kostüm indirimi : 25.11 - 28.11
                            </h3>
                        </a>

                        <p style=margin:15px;>
                            Bu şampiyonlar ve kostümler, sınırlı bir süre için %50 indirimli:
                        </p>
                   
                </td>
            </tr>
        </table>


        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/oyun_modları.jpg"></td>
                <td width="600" valign="top">
                   
                        <a href="@Url.Action("OyunModu","Home")">
                            <h3 style=margin:15px;>
                                Dönüşümlü Oyun Modu Sırası devrede!
                            </h3>
                        </a>
                        <p style=margin:15px;>
                            Kumların gözlerimize dolduğu Yükseliş meydanından tutun da Ultra Rekabet
                            Faktörü'ne kadar sınırlı oyun modları, klasik LoL formülüne yepyeni tatlar
                            katmamızı mümkün kılıyor. Eğlence sıradaki oyun moduyla devam ediyor:
                            Yükseliş devrede!
                        </p>
                    
                </td>
            </tr>
        </table>


        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/kasım_paketi.jpg"></td>
                <td width="600" valign="top">
                    
                        <a href="@Url.Action("paket","Home")">
                            <h3 style=margin:15px;>
                                Kasım paketleri zamanı
                            </h3>
                        </a>

                        <p style=margin:15px;>
                            Kasım paketleri, kelepir fırsatlarla birlikte geliyor.
                        </p>
                   
                </td>
            </tr>
        </table>

        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><img width="450" height="250" valign="top" style=margin:15px; src="~/images/4_3.jpg"></td>
                <td width="600" valign="top">
                   
                        <a href="@Url.Action("Rotasyon","Home")">
                            <h3 style=margin:15px;>
                                Haftalık Kostüm Rotasyonu LoL Cafe'lerde!
                            </h3>
                        </a>

                        <p style=margin:15px;>
                            İşte bu haftanın LoL Cafe Haftalık Kostüm Rotasyonu:
                        </p>
                    
                </td>
            </tr>
        </table>
