﻿
@{
    ViewBag.Title = "İndirim";
}

<td width="300" valign="top">
    <figure>
        <img width="640" ; height="360"  style=margin:15px; src="~/images/haftalik-indirim_1.jpg">
        <figcaption style=margin:15px;>
        
                <h3>Şampiyon ve kostüm indirimi: 25.11 - 28.11</h3>

                Bu şampiyonlar ve kostümler, sınırlı bir süre için %50 indirimli:

        </figcaption>
    </figure>
</td>

<ins><h2 style=margin:15px;>İndirimdeki Kostümler</h2></ins>
<p style=margin:15px;>Bu kostümlerle şampiyonlarınıza yeni bir görünüm kazandırın:</p>

<table width="100" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"></td>
        <td width="300" valign="top">
            <figure>
                <img width="290"  height="171"  style=margin:15px; src="~/images/gotikori.jpg">
                <figcaption style=margin:15px;>
          
                        <h2>Gotik Orianna</h2>

                        <del>520</del> 260 RP

              
                </figcaption>
            </figure>
        </td>

        <td width="300" valign="top">
            <figure>
                <img width="290" ; height="171"  style=margin:15px; src="~/images/avciashe.jpg">
                <figcaption style=margin:15px;>
         
                        <h2>Gönül Avcısı Ashe</h2>

                        <del>975</del> 487 RP

            
                </figcaption>
            </figure>
        </td>
    </tr>
</table>

<table width="100" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"></td>
        <td width="300" valign="top">
            <figure>
                <img width="290"  height="171" style=margin:15px; src="~/images/tilkiahri.jpg">
                <figcaption style=margin:15px;>
          
                        <h2>Tilki Ateşi Ahri</h2>

                        <del>975</del> 487 RP

                 
                </figcaption>
            </figure>
        </td>

        <td width="300" valign="top">
            <figure>
                <img width="290" ; height="171"  style=margin:15px; src="~/images/ustadziggs.jpg">
                <figcaption style=margin:15px;>
              
                        <h2>Sihir Üstadı Ziggs</h2>

                        <del>1350</del> 675 RP

                   
                </figcaption>
            </figure>
        </td>
    </tr>
</table>

<ins><h2 style=margin:15px;>İndirimdeki Şampiyonlar</h2></ins>
<p style=margin:15px;>Bu şampiyonları koleksiyonunuza katın:</p>

<table width="100" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"></td>
        <td width="300" valign="top">
            <figure>
                <img width="280" ; height="530"  style=margin:15px; src="~/images/jayce.jpg">
                <figcaption style=margin:15px;>
          
                        <h3>Jayce</h3>

                        <del>975</del> 487 RP

             
                </figcaption>
             </figure>
        </td>

        <td width="300" valign="top">
            <figure>
                <img width="280"  height="530"  style=margin:15px; src="~/images/rumble.jpg">
                <figcaption style=margin:15px;>
          
                        <h3>Rumble</h3>

                        <del>880</del> 440 RP

         
                </figcaption>
             </figure>
        </td>

        <td width="300" valign="top">
            <figure>
                <img width="280"  height="530" style=margin:15px; src="~/images/kassadin.jpg">
                <figcaption style=margin:15px;>
              
                        <h3>Kassadin</h3>

                        <del>790</del> 395 RP

             
                </figcaption>
            </figure>
        </td>

        <td width="300" valign="top">
            <figure>
                <img width="280" ; height="530"  style=margin:15px; src="~/images/rengar.jpg">
                <figcaption style=margin:15px;>
           
                        <h3>Rengar</h3>

                        <del>975</del> 487 RP

              
                </figcaption>
            </figure>
        </td>

    </tr>
</table>


