﻿
@{
    ViewBag.Title = "LoLNedir";
}

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/lol-nedir.jpg"></td>
        <td width="500" valign="top">
         
                <h3 style=margin:15px;>
                    League of Legends nedir?
                </h3>

                <p style=margin:15px;>
                    League of Legends tempolu, rekabete dayalı, strateji
                    oyunlarının heyecanını rol yapma oyunlarının öğeleriyle
                    bir araya getiren çevrim içi bir oyundur. Tasarımları ve
                    oynanışlarıyla kendine özgü şampiyonlardan oluşan iki takım,
                    çeşitli savaş alanlarında ve oyun modlarında başa baş mücadele
                    eder. League of Legends sürekli çeşitlenen şampiyonları, sık
                    sık güncellenen içeriği ve canlı turnuva ortamıyla, her beceri
                    seviyesindeki oyuncunun sıkılmadan çok uzun süre oynayabileceği
                    bir oyundur.
                </p>
     
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/dari-garen.jpg"></td>
        <td width="500" valign="top">
      
                <h1>
                    Lig'e katıl
                </h1>

                <p style=margin:15px;>
                <p>League of Legends'ı hemen indir, on milyonlarca oyuncuya katıl.</p>
                <h2>Göğüs Göğüse Çarpış</h2>
                <p>
                    Hem küçük çatışmalarda, hem de 5'e 5 heyecanlı
                    çarpışmalarda rakiplerini yenmek için stratejik düşün,
                    takımını koordine et ve reflekslerini şimşek hızında kullan.
                </p>
                <h2>Strateji Kur ve Geliş</h2>
                <p>
                    Sık sık güncellenen içeriği, çeşitli haritaları
                    ve oyun modları ve sürekli eklenen şampiyonlarıyla,
                    League of Legends'da başarının yolu, senin hünerlerinden geçiyor.
                </p>
                <h2>Rekabetle İlerle</h2>
                <p>
                    League of Legends, ister botlara karşı keyifle
                    mücadele ederken, istersen de lig sisteminin basamaklarını
                    tırmanırken seni benzer yetenek düzeyinde rakipler ve
                    müttefiklerle eşleştirecek teknolojiye sahip.
                </p>
                <h2>Onurunla dövüş</h2>
                <p>
                    Onurlu bir şekilde mücadele et, sportmenliğinle diğer oyunculardan takdir al.
                </p>
                <h2>eSpor Demişken</h2>
                <p>
                    Dünyanın en aktif profesyonel rekabet ortamına sahip
                    olan League of Legends için, yıl boyunca pek çok turnuva
                    düzenlenir. Bunlardan en ünlüsü de, profesyonel oyuncuların
                    milyon dolarları bulan ödüller için yarıştığı prestijli Şampiyona Serisi'dir.
                </p>
                <h2>Dünyanın En Büyük Çevrimiçi Oyun Topluluğu</h2>
                <p>
                    Dünyanın en büyük çevrim içi oyun topluluğuna katıl!
                    Arkadaş edin, takım kur, dünya çapında on milyonlarca
                    rakibe karşı mücadele et, zaferlerini ve niteliklerini
                    forumlarda, YouTube'da ve internetin her sosyal köşesinde paylaş.
                </p>
        </td>
    </tr>
</table>


