﻿
@{
    ViewBag.Title = "OyunModu";
}

<td width="300" valign="top">
    <figure>
        <img width="640" ; height="291"  style=margin:15px; src="~/images/oyun-modu2.jpg">
        <figcaption style=margin:15px;>

               <h2>Dönüşümlü Oyun Modu Sırası devrede!</h2>
                Kumların gözlerimize dolduğu Yükseliş meydanından tutun da Ultra Rekabet
                Faktörü'ne kadar sınırlı oyun modları, klasik LoL formülüne yepyeni tatlar
                katmamızı mümkün kılıyor. Eğlence sıradaki oyun moduyla devam ediyor:
                Birimiz Hepimiz İçin devrede!
      
        </figcaption>
      </figure>
</td>

<td width="300" valign="top">
    <figure>
        <img width="640" ; height="360"  style=margin:15px; src="~/images/OyunModu.jpg">
        <figcaption style=margin:15px;>
          

                İsterseniz bu oyun modunu bir kez daha hatırlayalım:
                Şampiyon seçimine geçtiğinizde, takımınızla birlikte hepinizin oynayacağı
                şampiyona karar verip şenliğin ortasına atılacaksınız. İster Gangplank'in
                fıçılarını art arda dizip sonu gelmez patlamaların tadını çıkarın ya da
                Tahm Kench'lerden matruşka yapın, ister haritayı Illaoi'nin dokunaçlarıyla
                donatıp dar geçitlerden geçen rakiplerinizle sırt kızartmaca oynayın,
                Birimiz Hepimiz İçin, şampiyonunuzu tek başınıza oynadığınız zamanlardan
                beş kat daha eğlenceli. Hiç olmadı, beş kat lazerle kızartma yaparsınız.
                Geçen Birimiz Hepimiz İçin etkinliğinden beri Google'ı sorularınızla
                bezdirdiyseniz, size dev bir hizmet sunup şenliğe katılan yeni yüzleri
                paylaşalım (şampiyon güncellemeleri de dahil olarak):

                <p style=margin:15px;>
                    Bütün dönüşümlü oyun modlarında olduğu gibi, Şampiyonluk Ustalığı puanları
                    kazanabilmeniz için bu oyun modunda da özel ayarlamalar yaptık. Ayrıca elde
                    ettiğiniz zaferlerden anahtarlar kazanabilecek ve S-, S, S+ notu aldığınız
                    (ya da hazır grubunuzdan birinin aldığı) oyunlardan sandık edinebileceksiniz.
                    Birimiz Hepimiz İçin modu şu anda devrede ve pazar gecesinin sonuna kadar
                    oynanabilecek (dönüşümlü oyun modlarını genellikle pazartesi sabaha karşı
                    01.00 ile 03.00 saatleri arasında devre dışı bırakmayı planlıyoruz).
                    Önümüzdeki birkaç ay boyunca Dönüşümlü Oyun Modu sırası'nda değişik yöntemler
                    deneyeceğiz. Örneğin ne kadar sevildiklerine bakıp, modları daha uzun süre açık
                    tutabiliriz veya açık olan modları değiştirilebilir veya farklı modların 
                    kurallarına ayar çekebiliriz. Bu süreçte sizin yorumlarınız bizim için çok önemli.
                    Poro kralı'nın karlarla kaplı Adelet Meydanı'nda görüşmek üzere!
                </p>
         
        </figcaption>
     </figure>
</td>


