﻿
@{
    ViewBag.Title = "Paket";
}


<div class="section-wrapper section-wrapper-primary">
    <div class="section-wrapper-top"></div>
    <div class="section-wrapper-content">
        <div class="section-wrapper-content-wrapper">
            <div class="panelizer-view-mode node node-full node-article node-68524">
                <div class="gs-container">
                    <div class="default-2-3">
                        <div class="content-border">
                            <div class="content-border-content">
                                <div class="accent-after">
                                    <div class="accent-before">
                                        <div class="field field-name-field-article-media field-type-file field-label-hidden">
                                            <div id="file-32191" class="file file-image file-image-jpeg">
                                                <img typeof="foaf:Image" src="~/images/kasım_paketi.jpg" width="640" height="360" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><h1 class="article-title">Kasım paketleri zamanı</h1><div class="field field-name-custom-author field-type-entityreference field-label-hidden"><span class="article_detail"><span class="posted_by">Yazan Riot Zannadar</span></span></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <p><strong>30 Kasım 2016 10.59'a kadar</strong> Mağaza'da yer alacak bu sınırlı süreli paketleri kaçırma.</p>

                            <hr class="divider" /><br /><span class="content-border"><img src="~/images/KennenPaket.jpg" /></span> <h4><strong>Sıçra Yapış Paketi - %50 indirimle</strong> 3187 RP <span style="font-size:.8em">(şampiyonlarla birlikte 5389 RP)</span></h4>

                            <div class="gs-container default-2-col">
                                <div>
                                    <p><strong>İçerdiği kostümler:</strong></p>
                                    <ul>
                                        <li>Kanlı Ay Kennen</li>
                                        <li>Ağaç Ata LeBlanc</li>
                                        <li>Işık Fırtınası Wukong</li>
                                        <li>Freljord'lu Taliyah</li>
                                        <li>Süper Galaksi Fizz</li>
                                    </ul>
                                </div>
                                <div>
                                    <p><strong>İçerdiği şampiyonlar:</strong></p>
                                    <ul>
                                        <li>Kennen</li>
                                        <li>LeBlanc</li>
                                        <li>Wukong</li>
                                        <li>Taliyah</li>
                                        <li>Fizz</li>
                                    </ul>
                                </div>
                            </div>

                            <hr class="divider" /><br /><span class="content-border"> <img src="~/images/XerathPaket.jpg" /></span> <h4><strong>Gizemli Tehlikeler Paketi - %50 indirimle</strong> 2811 RP <span style="font-size:.8em">(şampiyonlarla birlikte 5013 RP)</span></h4>

                            <div class="gs-container default-2-col">
                                <div>
                                    <p><strong>İçerdiği kostümler:</strong></p>
                                    <ul>
                                        <li>Derinliklerden Gelen Nautilus</li>
                                        <li>Donmuş Dehşet Nocturne</li>
                                        <li>Işık Dalgası Vel'Koz</li>
                                        <li>Magma Xerath</li>
                                        <li>Azrail Karthus</li>
                                    </ul>
                                </div>
                                <div>
                                    <p><strong>İçerdiği şampiyonlar:</strong></p>
                                    <ul>
                                        <li>Nautilus</li>
                                        <li>Nocturne</li>
                                        <li>Vel'Koz</li>
                                        <li>Xerath</li>
                                        <li>Karthus</li>
                                    </ul>
                                </div>
                            </div>

                            <hr class="divider" /><br /><span class="content-border"> <img src="~/images/azirPaket.jpg" /></span> <h4><strong>Başka Diyarların Paketi - %50 indirimle</strong> 2999 RP <span style="font-size:.8em">(şampiyonlarla birlikte 5147 RP)</span></h4>

                            <div class="gs-container default-2-col">
                                <div>
                                    <p><strong>İçerdiği kostümler:</strong></p>
                                    <ul>
                                        <li>Galaktik Azir</li>
                                        <li>Hiçlik Getiren Illaoi</li>
                                        <li>Kozmik Bela Kassadin</li>
                                        <li>Kanlı Ay Zilean</li>
                                        <li>Alevlerin Hâkimi Aurelion Sol</li>
                                    </ul>
                                </div>
                                <div>
                                    <p><strong>İçerdiği şampiyonlar:</strong></p>
                                    <ul>
                                        <li>Azir</li>
                                        <li>Illaoi</li>
                                        <li>Kassadin</li>
                                        <li>Zilean</li>
                                        <li>Aurelion Sol</li>
                                    </ul>
                                </div>
                            </div>

                            <hr class="divider" /><br /><span class="content-border"> <img src="~/images/XinPaket.jpg" /></span> <h4><strong>Hoyrat Dövüşçüler Paketi - %50 indirimle</strong> 2623 <span style="font-size:.8em">RP (şampiyonlarla birlikte 4482 RP)</span></h4>

                            <div class="gs-container default-2-col">
                                <div>
                                    <p><strong>İçerdiği kostümler:</strong></p>
                                    <ul>
                                        <li>Oltalı Jax (Hatıra)</li>
                                        <li>Ejder Yumruk Lee Sin</li>
                                        <li>Kan Delisi Renekton</li>
                                        <li>Savaş Ustası Xin Zhao</li>
                                        <li>Hemşire Akali</li>
                                    </ul>
                                </div>
                                <div>
                                    <p><strong>İçerdiği şampiyonlar:</strong></p>
                                    <ul>
                                        <li>Jax</li>
                                        <li>Lee Sin</li>
                                        <li>Renekton</li>
                                        <li>Xin Zhao</li>
                                        <li>Akali</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>