﻿
@{
    ViewBag.Title = "Poro";
}
<td width="300" valign="top">
    <figure>
        <img width="640" ; height="360"  style=margin:15px; src="~/images/Poro.jpg">
        <figcaption style=margin:15px;>
        </figcaption>
    </figure>
</td>


<h1 class="article-title">İblis Poroların Saldırısı</h1><div class="field field-name-custom-author field-type-entityreference field-label-hidden"><span class="article_detail"><span class="posted_by">Yazan Riot Zannadar</span></span></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <p>
        <em>Loş bir hanın kuytu bir köşesinde, 20 yüzlü bir zar, ahşap bir masanın üstünde süzülmektedir. Zar yüzeye düştüğünde, dört suret sonucu görmek için üzerine eğilir...</em>
    </p>
</div>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/seju.png" /></td>
        <td width="600" valign="top">
      
                <p style=margin:15px;>
                    Aman be! Kötü zar geldi! Yolumuz kapalı ve bir iblis poro sürüsü grubumuza saldırıyor. Bu cehennem kaçkını canavarların pençesinden kurtulabilecek miyiz, yoksa amansız güçlerine boyun mu eğeceğiz?
                </p>
      
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/jayce.png" /></td>
        <td width="600" valign="top">
       
                <p style=margin:15px;>
                    Hiç sorun değil. Ben Hızlandırma Geçidi açıyorum ve bir Hiper Yük'le hepsinin işini bitiriyorum. Geleceğimiz parlak!
                </p>
          
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/seju.png" /></td>
        <td width="600" valign="top">
     
                <p style=margin:15px;>
                    Yapma işte. Karakterine sadık kalmaya çalış. Kaç defa konuştuk.
                </p>

        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/bard.png" /></td>
        <td width="600" valign="top">
          
                <p style=margin:15px;>
                    *Anlaşılmaz mırıldanma*
                </p>
     
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/seju.png" /></td>
        <td width="600" valign="top">
            
                <p style=margin:15px;>
                    Ne dedin şimdi?
                </p>
           
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/karthus.png" /></td>
        <td width="600" valign="top">
        
                <p style=margin:15px;>
                    Maceralarımız için bestelediği şarkıya bu son bölümü eklemesi lazım mı, onu soruyor.
                </p>
        
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/bard.png" /></td>
        <td width="600" valign="top">
     
                <p style=margin:15px;>
                    *Anlaşılmaz mırıldanma*
                </p>
       
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/karthus.png" /></td>
        <td width="600" valign="top">
        
                <p style=margin:15px;>
                    Bir de iblis porolar çok korkunçmuş; bu yüzden onları şeker poro yapsak olmaz mı diye soruyor.
                </p>
      
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/seju.png" /></td>
        <td width="600" valign="top">
     
                <p style=margin:15px;>
                    Olur herhalde... Ozan Bard, kalemini kaldır da tanı kol! O zaman vahşi *püfler* şeker porolarla savaşa koyulalım!
     
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/jayce.png" /></td>
        <td width="600" valign="top">
           
                <p style=margin:15px;>
                    Ben bu yaratıklarla nasıl başa çıkacağımı biliyorum.
                </p>
         
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/seju.png" /></td>
        <td width="600" valign="top">
          
                <p style=margin:15px;>
                    Hayır, lütfen dur...
                </p>
    
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/jayce.png" /></td>
        <td width="600" valign="top">
         
                <p style=margin:15px;>
                    Hızlandırma Geçidi açıyorum ve bir Hiper Yük'le hepsinin işini bitiriyorum. Gelecekle yüzleşin!
                </p>
      
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/bard.png" /></td>
        <td width="600" valign="top">
       
                <p style=margin:15px;>
                    *Bir şeyler yazar*
                </p>
  
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/seju.png" /></td>
        <td width="600" valign="top">
         
                <p style=margin:15px;>
                    Sakın bunları şarkıya koyma!
                </p>
    
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/bard.png" /></td>
        <td width="600" valign="top">
       
                <p style=margin:15px;>
                    *Şaşkın mırıldanma*
                </p>
          
        </td>
    </tr>
</table>

<table  border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/karthus.png" /></td>
        <td width="600" valign="top">
       
                <p style=margin:15px;>
                    Diyor ki...
                </p>
        
        </td>
    </tr>
</table>

<table  border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/seju.png" /></td>
        <td width="600" valign="top">
           
                <p style=margin:15px;>
                    NE DİYORSA DİYOR! *Zar atar* Taşlar devrilip hepimizi öldürüyor. Ben eve gidiyorum.
                </p>
        
        </td>
    </tr>
</table>

<table  border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="~/images/bard.png" /></td>
        <td width="600" valign="top">
         
                <p style=margin:15px;>
                    *Üzgün mırıldanma*
                </p>
       
        </td>
    </tr>
</table>

<p>LoL Mağaza'sında <strong>750'şer RP</strong>'lik zindan maceralarına atılan Şafak Avcısı Sejuani, Ozan Bard ve Parlak Çekiç Jayce ile kendi maceranı yaz. Işıkboğan Karthus ile <strong>975 RP</strong>'den karanlığa dal.</p>

<p><strong>Zindan Gezginleri Seti - 3225 RP</strong>(Şampiyonlarla birlikte 5868 RP)</p>

<p>22 Kasım 10.59'a kadar Mağaza'da</p>

<ul>
    <li>
        Işıkboğan Karthus
    </li>
    <li>
        Ozan Bard
    </li>
    <li>
        Şafak Avcısı Sejuani
    </li>
    <li>
        Parlak Çekik Jayce
    </li>
    <li>
        Karthus - %25 indirimli
    </li>
    <li>
        Bard - %25 indirimli
    </li>
    <li>
        Sejuani - %25 indirimli
    </li>
    <li>
        Jayce - %25 indirimli
    </li>
</ul>

