﻿
@{
    ViewBag.Title = "Rotasyon";
}

<td width="300" valign="top">
    <figure>
        <img width="600" ; height="291"  style=margin:15px; src="~/images/4_3.jpg">
        <figcaption style=margin:15px;>
        
                <h3>Haftalık Kostüm Rotasyonu LoL Cafe'lerde!</h3>
                <h6>YAZAN RİOT LUNCHWEEK</h6>

                <p>İşte bu haftanın LoL Cafe Haftalık Kostüm Rotasyonu:</p>

            
            
        </figcaption>
     </figure>
</td>

<p style=margin:15px;> Bu hafta LoL Cafe’lerde deneyebileceğiniz kostümler:</p>

<ul style=margin:15px;>
    <li>
        Kızıl Elit Riven
    </li>
    <li>
        Süper Teemo
    </li>
    <li>
        Ölüm Çiçeği Elise
    </li>
    <li>
        Kumların Muhafızı Rammus
    </li>
    <li>
        Hemşire Akali
    </li>
    <li>
        Kaos İşi Orianna
    </li>
    <li>
        Arcade Miss Fortune
    </li>
    <li>
        Soyguncu Twitch
    </li>
    <li>
        Havuz Partisi Leona
    </li>
    <li>
        Bıçakların Hanımı Morgana
    </li>
</ul>

<p><strong>23 Kasım Çarşamba</strong> günü başlayacak rotasyon,<strong>29 Kasım Salı</strong> günü <strong>23.59</strong>'da sona erecek.</p>

<p>Ayrıntılı bilgi için, <a href="https://lolcafe.tr.leagueoflegends.com/#/anasayfa">LoL Cafe</a> web sitesini ziyaret edebilirsiniz.</p>

<p>Adalet Meydanları’nda görüşmek üzere!</p>

