﻿
@{
    ViewBag.Title = "Yasuo";
}

<td width="300" valign="top">
    <figure>
        <img width="640" ; height="360" style=margin:15px; src="~/images/yasuo1.jpg">
        <figcaption style=margin:15px;>
    
                <h2>Günahkar Kılıç Yasuo meydana çıktı</h2>
                Yasuo rüzgardan aldığı güçle, eşsiz kılıç sanatını yeni
                zirvelere ulaştırmaya geliyor. Bir Ionia savaş okulunun,
                efsanevi rüzgar tekniğini öğrenebilen tek ve en eski
                öğrencisi olan Yasuo; korumak için yemin ettiği Ionia
                büyüğünün asıl katilini bulabilmek için Runeterra’yı
                karış karış dolaşarak fırtınalı bir yaşam sürüyor.
       
        </figcaption>
    </figure>
</td>

<h1 style=margin:15px;>Yetenekler</h1>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/P.png"></td>
        <td width="600" valign="top">
      
                <h3 style=margin:15px;>
                    Pasif: Avarenin Yolu
                </h3>

                <p style=margin:15px;>
                <p>Niyet: Yasuo’nun kritik vuruş ihtimali ikiye katlanır.</p>
                <p>
                Akıbet: Yasuo hareket ettikçe Akış’ı artar. Ne kadar
                hızlı hareket ederse, Akış çubuğu o kadar hızlı dolar.
                Akış dolduğunda, Yasuo rakip şampiyonlardan veya
                canavarlardan hasar aldıktan sonra kısa süreliğine bir kalkan açar.
                </p>
    
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/Q.png"></td>
        <td width="600" valign="top">
         
                <h3 style=margin:15px;>
                    Q: Çelik Fırtına
                </h3>

                <p style=margin:15px;>
                    Yasuo kılıcıyla öne atılarak, bir hat üstündeki tüm rakiplere
                    hasar verir. Çelik Fırtına’yı isabet ettirebilirse, kısa bir
                    süreliğine Yaklaşan Kasırga yükü biriktirir. Üç Yaklaşan Kasırga
                    yükü biriktiğinde, Çelik Fırtına düz bir hat üstünde ilerleyen
                    ve isabet ettiği tüm rakipleri Havaya Savuran bir hortum yollar.
                    Yasuo; Çelik Fırtına’yı Atılgan Kılıç açıkken kullanırsa, yetenek
                    hemen etrafındaki tüm rakiplere isabet eder.
                </p>
      
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/W.png"></td>
        <td width="600" valign="top">
         
                <h3 style=margin:15px;>
                    W: Rüzgar Duvarı
                </h3>

                <p style=margin:15px;>
                    Pasif: Yasuo’nun Akış’ı daha hızlı yenilenir.
                    Aktif: Yasuo, birkaç saniye boyunca yavaş yavaş
                    ilerleyen bir rüzgar duvarı yaratır. Bu duvar,
                    rakibin tüm menzilli atışlarını bloklar.
                </p>
      
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/E.png"></td>
        <td width="600" valign="top">
                <h3 style=margin:15px;>
                    E: Atılgan Kılıç
                </h3>

                <p style=margin:15px;>
                    Yasuo, bir rakibin içinden geçerek ona hasar verir
                    ve onu kısa süreliğine işaretler. Yasuo; Atılgan
                    Kılıç’ı üst üste birkaç kere kullanırsa, yetenek bir
                    miktar fazladan hasar verir. Bu hasarın bir üst sınırı
                    vardır. Yasuo, Atılgan Kılıç’ı zaten işaretlediği bir
                    rakibin üstünde kullanamaz.
                </p>
       
        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/R.png"></td>
        <td width="600" valign="top">
        
                <h3 style=margin:15px;>
                    R: Son Nefes
                </h3>

                <p style=margin:15px;>
                    Yasuo, yakınındaki Havaya Savrulmuş bir rakip şampiyonun
                    yanına ışınlanarak onu ve çevresindeki tüm Havaya Savrulmuş
                    rakipleri havada tutar ve onlara hasar verir. Yere indiğinde,
                    rakibinin bonus zırhına karşı çok miktarda, uzun süreli Zırh
                    Delme bonusu alır.
                </p>
       
        </td>
    </tr>
</table>

<h1 style=margin:15px;>Oynanış</h1>

<td width="300" valign="top">
    <figure>
        <img width="640" ; height="291"  style=margin:15px; src="~/images/Yasuo2.jpg">
        <figcaption style=margin:15px;>
            <strong>
                Yasuo hareketli, tutarlı hasar verebilen, işlevselliği yüksek,
                savaşta ölmedikçe hasarı da artan bir şampiyon. Zayıf yönü ise,
                oyunun başında düşük hasar veriyor olması.
            </strong>
        </figcaption>
    </figure>
</td>


    <h1 style=margin:15px;>Orta koridor</h1>
    <p style=margin:15px;>
        Yasuo’nun oyunun başlarındaki dayanıksızlığı, onu Sihirdar
        Vadisi’nin en kısa koridoruna uygun kılıyor. Yasuo burada
        güvenle minyon biçerek; deneyim puanı ve altın biriktirip,
        aldığı eşyalarla oyunun sonunu domine etmeye odaklanabilir.
        Ancak Yasuo’nun en zayıf dönemi oyunun başları olsa da, gücü
        ve hareketliliği sayesinde rakiplerini şaşırtabilir. Yasuo,
        Çelik Fırtına’yla rakiplerine nispeten güvenli bir mesafeden
        son vuruş yapabilir. Hızlıca altın kazanmak için geri saflardaki
        minyonları biçmek isterse, Atılgan Kılıç’ı arka arkaya hızla
        kullanarak gidip dönebilir. Avarenin Yolu’nun sağladığı kalkanla,
        alması kaçınılmaz olan hasarın bir kısmından kurtulabilir. Atılgan
        Kılıç, baskınlardan kaçarken de yararlı olabilir. Rakibin yakın
        dövüşçüsüyle büyücü minyonları arasında kaldığında bu yetenekle
        kendi kulesine doğru kaçarsa, en inatçı ormancı bile peşini bırakmak
        zorunda kalacaktır.
        Rüzgar yön değiştirdiğinde ise Yasuo’yu doğru anlarda kullanmak,
        onu takımının baskın girişimlerinde dehşetli bir silaha dönüştürüyor.
        Çelik Fırtına yüklerini doğru toplayıp, Yaklaşan Kasırga ile rakibini
        yukarı savurması, ormancının çatışma başlatmasını kolaylaştırıyor.
        Rakip yakalandığında ise Yasuo, Atılgan Kılıç ile hemen savaşa başlayabilir.
        Averenin Yolu’nun verdiği kritik vuruş artışı, Yasuo’nun saldırılarının
        vurduğu yerden ses getirmesini sağlar. Son Nefes’i açtığında ise, ek
        hasar ve kitle kontrolle şampiyon katletmesi daha da olanaklı hale gelir.
    </p>


    <h1 style=margin:15px;>Takım savaşları</h1>

    <p style=margin:15px;>
        Verdiği hasar takım savaşı uzadıkça artan bir yakın dövüş ustası olarak
        Yasuo’nun birinci önceliği, rakip takımın ilk dalga saldırısını savuştururken,
        diğer yandan Yaklaşan Kasırga biriktirmektir. Bu noktada Rüzgâr Duvarı
        oldukça kullanışlı hale gelir. Rakip takımın ön ve arka safları arasına
        özenle yerleştirilmiş bir duvar Yasuo’nun diğerleri kadar tehdit yaratmayan
        tanklara ve eli ağır dövüşçülere musallat olmasına, bol keseden kullanılan
        Çelik Fırtına ile Yaklaşan Kasırga biriktirmesine imkân verir. Üçüncü kez
        kullanıma hazır hale geldiğinde Yasuo ardı ardına Atılgan Kılıç kullanarak
        rakip hattını olduğu gibi yarıp geçer ve kendini rakibin kof şampiyonlarının
        yanında veya arkasında konumlandırır. Son bir defa Çelik Fırtına ile onları
        da havaya savurarak, hortuma yakalananlar için son derece ölümcül sonuçlar
        doğuran Son Nefes’in yolunu açar. Yasuo’nun hortumundan paçayı kurtarmayı
        başaran rakipler Son Nefes’ten öyle kolay kolay kurtulamaz: Yasuo’nun ultisi
        ile savurma özelliği olan bütün yetenekler birleştirilebilir, Cho’Gath,
        Malphite ve Zyra gibi şampiyonlar Yasuo ile iyi iş çıkarabilir. Yere indikten
        sonra, Yasuo’nun kallavi ilave zırh delme güçlendirmesi Avarenin Yolu’ndan
        gelen kritik vuruş bonusu ile bir olunca en kodaman tanklar bile bir çırpıda yitiverir.
    </p>


        <h1 style=margin:15px;>Hikâye</h1>
        <h2 style=margin:15px;>"Kılıçların hikâyesi kanla yazılır."</h2>

  
            <p style=margin:15px;>
                Yasuo azmiyle dikkat çeken, atik bir kılıç ustasıdır.
                Düşmanlarını devirmek için bizzat rüzgâr kuşanıp estirir.
                Ne var ki bu mağrur savaşçı düzmece bir itham sonucu
                itibarını yitirmiş ve hayatta kalmak için umutsuz bir savaşın
                içine itilmiştir. Dünya âlemi karşısına alan Yasuo, suçluları
                adaletin keskin kılıcıyla buluşturmak ve şerefini geri kazanmak
                için elinden geleni ardına koymayacaktır.
            </p>


        <table  border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="145" height="192" valign="top"><img style=margin:15px; src="~/images/YARP.png"></td>
                <td width="600" valign="top">
               

                        <p style=margin:15px;>
                            Vakt-i zamanında Ionia’da meşhur bir savaş akademisinde parlak bir öğrenci
                            olan Yasuo, koca bir kuşak içinde efsanevi rüzgâr tekniğinde uzmanlaşabilen
                            yegâne öğrenciydi. Pek çok kişi onun ileride büyük bir kahraman olacağına
                            inanıyordu. Ancak, Noxus işgal edildiği gün onun da kaderi sonsuza kadar değişti.
                            Ionia’nın ileri gelenlerinden birisini korumakla görevlendirilen Yasuo, kılıcıyla
                            bir şeyleri değiştirebileceğine inanarak görev yerini terk edip savaşa katıldı.
                            Döndüğünde himayesine bırakılan kişinin öldürülmüş olduğunu gördü.
                        </p>
               
                </td>
            </tr>
        </table>

     
            <p style=margin:15px;>
                İtibarına leke düşen Yasuo kendi isteğiyle teslim oldu, hatasının karşılığını
                canıyla ödemeye hazırdı. Sadece ihmalkârlıkla değil, cinayeti işlemekle de
                suçlandığını öğrendiğinde dünyası başına yıkılmıştı. Allak bullak olmuş, suçluluk
                duygusu altında kıvranıyordu. Buna rağmen eğer harekete geçmezse, cinayetin
                gerçek katilin yanına kalacağını biliyordu. Kılıcını çeken Yasuo, tüm okulu karşısına
                alarak dövüştü özgürlüğü için. Bu hıyanetin bütün Ionia’yı kendisine düşman
                edeceğinin farkındaydı. Yasuo, ömründe ilk defa gerçekten tek başına kalmış halde
                gerçek katili bulmak için yollara düştü.
                Yasuo birkaç yıl boyunca durmadan dolaştı durdu katilin peşinde.
                Bir yandan da bir zaman dostu olanlar tarafından amansızca takip
                ediliyor, her seferinde hayatı uğruna dövüşmek zorunda kalıyordu.
                Kendine vazife edindiği bu ülkü onu daha da uçlara itiyordu; ta ki
                bir gün en korkulu düşmanı, öz kardeşi Yone tarafından izi bulunana kadar.
            </p>
       

        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="100" height="100" valign="top"><img style=margin:15px; src="~/images/YARP1.png"></td>
                <td width="600" valign="top">
                    
                        <p style=margin:15px;>
                            Aynı düsturla yola çıkan iki savaşçı önce birbirine selam verdi,
                            ardından da kılıçlar çekildi. Ay ışığının altında sessizce birbirlerinin
                            etrafında dönüp durdular. Saldırıya geçme zamanı nihayet geldiğinde
                            Yone kardeşi Yasuo ile boy ölçüşemeyeceğini anladı. Karanlıkta çeliğin
                            tek bir parıltısı kardeşinin canını almaya yetmişti. Silahını bırakan
                            Yasuo koşarak Yone’nin yanına geldi.Gözleri dolan Yasuo soydaşlarının nasıl olur da suçlunun o olduğuna kanaat
                            getirdiğini öğrenmek istedi. “Katil rüzgâr tekniği kullanmıştı. Başka kim
                            olabilirdi ki?” diye yanıtladı Yone. Birden olan bitenin farkına varan Yasuo
                            neden suçlandığını anladı. Masumiyetini bir kez daha ifade edip kardeşinin
                            affını istedi. Kardeşi kollarında son nefesini verdiğinde Yasuo gözyaşlarını tutamadı.
                            Yasuo doğan güneşin tanıklığında Yone’yi gömdü; ama yas tutmaya ayıracak vakit
                            yoktu. Çok geçmeden başkaları düşecekti peşine.
                        </p>
          
                </td>
            </tr>
        </table>


            <p style=margin:15px;>
                Kardeşinden öğrendikleri ışığında
                Yasuo’nun azmi ve gayesi tazelenmişti, artık onu gerçek katile götürecek bir
                ipucu vardı. Eşyalarını toplayıp Yone’nin mezarına son bir defa baktı. Bir yemin
                etti ve rüzgârı arkasına alıp yola koyuldu.
            </p>
  


